*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer input{
    width: 50%;
    padding: 10px;
    border: 1px solid var(--yellow);
    border-radius: 10px;
}
.footer input::placeholder{
    text-align: center;
    font-size: 16px;
}
.btn-footer{
    border-radius: 10px;
    margin: 10px;
    background-color: var(--yellow);
    padding: 10px;
    border: 1px solid var(--black);
}
.footer h1{
    font-size: 70px;
    padding: 40px;
}
.footer hr{
    margin-top: 70px;
}
.copy-rights p{
    margin-top: 10px;
    font-weight: 300;
}
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
   
}
.footer-icon{
   color: var(--yellow);

    width: 30px;
    height: 30px;
    border-radius: 10%;
}