* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-main {
    background-image: url("../Images/professional1.jpg");
    height: 95vh;
    width: 100%;
    background-color: hsl(0, 0%, 96%);
    z-index: -3;
    display: flex;
    /* opacity: 0.5; */
    /* align-content: space-between; */
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
}


.yellow-bg {
    background-color: var(--yellow);
    height: 95vh;
    width: 30%;
    margin-left: 70%;
    z-index: 3;
}

.header-text-container {
    text-decoration: none;
    width: 100vh;
    /* height: 1vh; */
    /* margin-top: 160px; */
}
.hdr-img img {
    /* text-decoration: none;
    width: 100%; */
    text-decoration: none;
    width: 70%;
    /* margin-top: -230px; */
}

.header-txt {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* margin-left: 40px; */
    width: 80%;
    /* z-index: 1; */
    background-color: whitesmoke;
    /* margin-top: -100px; */
}

.header-txt h1 {
    color: var(--yellow);
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.header-txt span {
    color: var(--black);
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.header-image{
    position: absolute;
    left: 55%;
    top: 23%;
    opacity: 0.5;
}
.adpatation-to-mobile-yt-video{
    width: 400px !important;
    height: 300px !important;
}

.header-txt p {
    color: var(--black);
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.header-box {
    position: absolute;
    top: 70%; /* Adjust as needed */
    left: 2%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center the box */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%; /* Adjust width as needed */
    z-index: 1;
}

.header-box li {
    list-style: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hrd-icons {
    width: 50px; /* Adjust icon size */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 5px; /* Adjust spacing between icon and text */
}

.line {
    border-left: 1px solid var(--yellow);
    height: 50px; /* Adjust line height */
}

.header-box li img {
    width: 50px; /* Adjust icon size */
    height: auto; /* Maintain aspect ratio */
}



@media screen and (max-width: 600px) {
    .header-main {
        height: 100vh;
        width: 100%;
        background-color: hsl(0, 0%, 96%);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .yellow-bg {
        background-color: var(--yellow);
        height: 120vh;
        width: 30%;
        position: absolute;
        margin-left: 70%;
        z-index: -1;
    }

    .header-box {
        position: absolute;
        margin-top: 146%;
        margin-left: 4%;
        background-color: var(--black);
        width: 93%;
        z-index: 3;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 10px;
        cursor: pointer;
    }

    .header-box li {
        color: white;
        padding-top: 44px;
        list-style: none;
        font-size: 13px;
        align-items: center;
        cursor: pointer;
    }

    .hrd-icons {
        font-size: 28px;
        position: absolute;
        margin-left: 30px;
        margin-top: 30px;
    }

    .line {
        border-left: 1px solid var(--yellow);
        height: 147px;
    }

    .header-image img {
        position: absolute;
        margin-left: -80%;
        width: 70%;
        z-index: 1;
        margin-top: 44%;
    }

    .header-txt h1 {
        color: var(--yellow);
        background-color: white;
        font-size: 40px;
        z-index: -3;
        margin-left: -10px;
        font-family: 'Poppins', sans-serif;
    }

    .header-txt span {
        color: var(--black);
        font-size: 30px;
        margin-left: -100px;
        z-index: 1;
        font-family: 'Poppins', sans-serif;
    }

    .header-image img::before {
        background-color: #F5F5F5;
        width: 120%;
    }

    .header-txt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 40px;
        width: 80%;
        z-index: 1;
        margin-top: 90px;
        position: relative;
    }
}

/* Tablet Query */
@media (min-width: 768px) and (max-width: 1024px) {
    .header-box {
        position: absolute;
        margin-top: 50%;
        margin-left: 4%;
        background-color: var(--black);
        width: 68%;
        z-index: 3;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 10px;
        cursor: pointer;
    }

    .header-image img {
        position: absolute;
        margin-left: -21%;
        width: 50%;
        z-index: 1;
        margin-top: -20%;
        border-radius: 20px;
    }

    .header-box li {
        color: #F5F5F5;
        padding-top: 64px;
        list-style: none;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }

    .hrd-icons {
        cursor: pointer;
        font-size: 30px;
        position: absolute;
        margin-left: 30px;
        margin-top: -40px;
    }
}
