*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-main{
   
    height: 95vh;
    width: 100%;
    background-color: hsl(0, 0%, 96%);
    z-index: -3;
}
.yellow-bg{
    background-color: var(--yellow);
    height: 95vh;
    width: 30%;
    margin-left: 70%;
    z-index: -3;
 
}
.header-text-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 80%;
    z-index: 1;
    margin-top: 100px;
    
}
.header-txt h1{
    color: var(--yellow);
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
 
}
.header-txt span{
    color: var(--black);
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}
.header-image img{
    position: absolute;
    margin-left: 20%;
    width: 80%;
    z-index: 1;
    margin-top: -20%;
}
.header-image img::before{
    background-color: #F5F5F5;
    width: 120%;
}
.header-txt p{
    color: var(--black);
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.header-box {
    position: absolute;
    margin-top: 35%;
    margin-left: 10%;
    background-color: var(--black);
    width: 80%;
    z-index: 1;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    
   
}
.header-box li{
    color:#F5F5F5;
    padding-top: 64px;
    list-style: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.hrd-icons{
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    margin-left: -50px;
    margin-top: -10px;
}
.line{
    border-left: 1px solid var(--yellow);
    height: 134px;
}
@media screen and (max-width:600px) {
    .header-main{
   
        height: 95vh;
        width: 100%;
        background-color: hsl(0, 0%, 96%);
        z-index: -1;
    }
    .yellow-bg{
        background-color: var(--yellow);
        height: 120vh;
        width: 30%;
        position: absolute;
        margin-left: 70%;
        z-index: -1;
     
    }
.header-box {
    /* position: absolute; */
    margin-top: 146%;
    margin-left: 4%;
    background-color: var(--black);
    width: 93%;
    z-index: 3;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 10px;
    cursor: pointer;
   
}
.header-box li{

    color: white;
    padding-top: 44px;
    list-style: none;
    font-size: 13px;
    align-items: center;
    cursor: pointer;

}
.hrd-icons{
    font-size: 28px;
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
}
.line{
    border-left: 1px solid var(--yellow);
    height: 147px;
}
.header-image img{
    position: absolute;
    margin-left: -80%;
    width: 70%;
    z-index: 1;
    margin-top: 44%;
 
}
.header-txt h1{
    color: var(--yellow);
    background-color: white;
    font-size: 40px;
    z-index: 1;
    margin-left: -10px;
    font-family: 'Poppins', sans-serif;

}
.header-txt span{
    color: var(--black);
    font-size: 30px;
    margin-left: -100px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
}

.header-image img::before{
    background-color: #F5F5F5;
    width: 120%;
}
.header-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 80%;
    z-index: 1;
    margin-top: 90px;
    position: relative;
    
}
}
