
.headline{
  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
}
.headline h1{
    font-size: 70px;
}
.job-btn{
    background-color: var(--black);
    padding: 10px;
    border-radius: 10px;
    color: var(--yellow);
}
.job-box{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 70px;
    margin-top: 40px;
    margin-left: 220px;
    width: 70%;
    border-radius: 10px;
 
}
.job li{
    list-style: none;
    color: black;
    font-size: 20px;
    padding-top: 20px;
    font-family: 'Poppins', sans-serif;
}
.job h4{
    color: black;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}
.image-container{
    background-color: var(--yellow);
    height: 50%;
    border-radius: 20px;
    height: 400px;
}
.image-container p{
    color: white;
    padding-top: 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
 
}
@media screen and (max-width:600px) {
    .job-box{
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        padding: 50px;
        margin-top: 40px;
        margin-left: 20px;
        width: 96%;
        border-radius: 10px;
        height: 450px;
     
    }
    .image-container img{
        width: 200px;
    }
    .headline h1{
        font-size: 50px;
    }
}