.headline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.headline h1 {
  font-size: 70px;
}

.button {
  cursor: pointer;
  background-color: white;
  margin-left: 70%;
  border-radius: 20px;
  padding: 10px 20px;
}

.job-btn {
  background-color: var(--black);
  padding: 10px;
  border-radius: 10px;
  color: var(--yellow);
}

.job-box {
  border: 1px solid black;
  display: flex;
  flex-direction: column; /* Adjusted for better responsiveness */
  justify-content: space-between;
  padding: 30px; /* Adjusted padding for better spacing on smaller screens */
  margin-top: 20px; /* Adjusted margin-top for better spacing on smaller screens */
  margin-left: 20px;
  width: 90%; /* Adjusted width for better responsiveness */
  border-radius: 10px;
}

.job li {
  list-style: none;
  color: black;
  font-size: 20px;
  padding-top: 10px; /* Adjusted padding-top for better spacing on smaller screens */
  font-family: "Poppins", sans-serif;
}

.job h4 {
  color: black;
  font-size: 40px; /* Adjusted font-size for better visibility on smaller screens */
  font-family: "Poppins", sans-serif;
}

.image-container {
  background-color: var(--yellow);
  border-radius: 20px;
  height: 250px; /* Adjusted height for better visibility on smaller screens */
  cursor: pointer;
}

.image-container p {
  color: white;
  padding-top: 10px; /* Adjusted padding-top for better spacing on smaller screens */
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 600px) {
  .job-box {
    width: 96%;
  }

  .headline h1 {
    font-size: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .job-box {
    margin-left: 40px;
  }
}
