.branding-heading h1{
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
}
.branding-heading p{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.brand-box-1{
    background-color: var(--yellow);
    border-radius: 14px;
    margin-left: 15px;
}
.brand-box-2{
    position: absolute;
    height: 220px;
    border: 5px solid black;
    z-index: -1;
    padding: 60px;
    margin-top: -140px;
    margin-left: -30px;
    border-radius: 10px;
}
.brand-box-2 p{
    align-items: center;
    padding-top: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.main-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
}
@media screen and (max-width:600px) {
    .main-box{
        display: flex;
        row-gap: 7rem;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }
    .branding-heading h1{
        font-size: 60px;
        font-family: 'Poppins', sans-serif;
        margin-top: 50px;
    }
    .branding-heading p{
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }
    .brand-box-1{
        background-color: var(--yellow);
        border-radius: 14px;
        margin-left: px;
    }
    .brand-box-2{
        position: absolute;
        height: 220px;
        border: 5px solid black;
        z-index: -1;
        padding: 60px;
        margin-top: -140px;
        margin-left: -30px;
        border-radius: 10px;
    }
    .brand-box-2 p{
        align-items: center;
        padding-top: 100%;
    }
}