.log-animation {
  float: right;
  margin-top: 20%;
  width: 600px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.from-text {
  position: relative;
  background-color: var(--yellow);
  padding: 60px;
  /* width: 60%; */
  height: auto;
  margin-left: auto; /* Center the form */
  margin-right: auto;
  border-radius: 10px;
  box-sizing: border-box; /* Include padding in the width */
}

.select-dropdown {
  position: relative;
  margin-left: auto; /* Center the form */
  margin-right: auto;
  border-radius: 10px;
  box-sizing: border-box;
}

.sub-btn {
  background-color: royalblue;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.from-text {
  display: flex;
  flex-direction: column;
}

.from-text h1 {
  margin-bottom: 20px;
}

.from-text input {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.from-text input::placeholder {
  text-align: center;
}

/* Adjust the form layout */
.from-text .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.from-text .row input,
.from-text .row .select-dropdown {
  flex: 1;
  margin-right: 10px;
}

.country-code-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
/* ... your existing styles ... */
.country-code {
  width: 20%; /* Adjust the width as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.google-login-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.from-text .row .fieldOfWorking input {
  flex: 1;
  margin-right: 10px;
}

.google-login-btn button {
  background-color: #fff; /* Google login button background color */
  border: 1px solid #ccc; /* Google login button border color */
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.google-login-btn button img {
  margin-right: 10px;
}
.error-message {
  color: red;
  margin-top: 5px;
  font-size: 14px;
}

/* Add media query for smaller screens */
@media (max-width: 768px) {
  .from-text {
    width: 80%;
  }
}
